<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div>
      <a routerLink="/new-post">Create new post</a>
      &nbsp;&nbsp;
      <a href="javascript:void(0)" (click)="logout()">Logout</a>
    </div>
    <ul class="list-unstyled blogs">
      <li class="media" *ngFor="let post of items$ | async">
        <div class="media-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <a [routerLink]="['/post', post.slug]">{{ post.title }}</a>
              </h5>
              <div>
                <b *ngIf="post.category">{{ post.category.name }}</b>
                &nbsp;&nbsp;
                <span *ngFor="let tag of post.tags">{{ tag.name }} &nbsp;</span>
              </div>
              <div>
                <span *ngIf="post.author">{{ post.author.name }}</span
                >&nbsp;
                <span>{{ post.timestamp | date : "medium" : "UTC +5:30" }}</span>
              </div>
              <hr />
              <div [innerHTML]="post.body | truncate : 600 | safeHtml">...</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-2"></div>
</div>
